@page "/admin"

<AuthorizeView>
    <Authorized>
        <h1>Admin</h1>
        <p>You have to be authenicated to see this</p>
    </Authorized>
    <NotAuthorized>
        <h1>Admin</h1>
        <p>You are not authorised</p>
    </NotAuthorized>
</AuthorizeView>

