@page "/authspecific"

<AuthorizeView Policy="IsAdminEmail">
    <Authorized>
        <h1>Specific Authorised User</h1>
        <p>You have permissions to access this page.</p>
    </Authorized>
    <NotAuthorized>
        <h1>Access Denied!</h1>
    </NotAuthorized>
</AuthorizeView>