@page "/authenticated-users"

<h1>Any Authenticated User</h1>
<AuthorizeView>
    <Authorized>
        <p>You have authenticated and permissions to access this page.</p>
    </Authorized>
    <NotAuthorized>
        <h1>Access Denied!</h1>
    </NotAuthorized>
</AuthorizeView>