@page "/authenticated-users"

<h1>Any Authenticated User</h1>
<AuthorizeView>
    <Authorized>
        <p>You are authenticated and permissions to access this page.</p>
    </Authorized>
    <NotAuthorized>
        <p>Access Denied! You are not authenticated so cannot access this page.</p>
    </NotAuthorized>
</AuthorizeView>