<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp1</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="anonymous">
                <span class="oi oi-globe" aria-hidden="true"></span> Anonymous
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="authany">
                <span class="oi oi-key" aria-hidden="true"></span> Authorised Any
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="authspecific">
                <span class="oi oi-key" aria-hidden="true"></span> Authorised Specific
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
